@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css");
@import url("https://aushevahmad.github.io/awesome-css/modules/compressbotmsgs.css");

:root {
  --theme-h: 0;
  --theme-s: 0%;
  --theme-l: 5%;
  --primary-500-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 11.9%);
  --primary-530-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 6.7%);
  --primary-560-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 2.9%);
  --primary-600-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 0%);
  --primary-630-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 2.6%);
  --primary-645-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 3.7%);
  --primary-660-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 5.9%);
  --primary-700-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 8.1%);
  --primary-730-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 9.6%);
  --primary-760-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 11.4%);
  --primary-800-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 13.3%);
  --primary-830-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 15.7%);
  --primary-860-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 18.1%);
  --primary-900-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 19.8%);

  /* color of links */
  --accent-1: hsl(278, 80%, 60%);
  /* color of unread dividers and some indicators */
  --accent-2: hsl(278, 80%, 52%);
  /* color of accented buttons */
  --accent-3: hsl(278, 80%, 44%);
  /* color of accented buttons when hovered */
  --accent-4: hsl(278, 80%, 36%);
  /* color of accented buttons when clicked */
  --accent-5: hsl(278, 80%, 28%);
  /* color of mentions and messages that mention you */
  --mention: hsla(278, 80%, 52%, 0.08);
  /* color of mentions and messages that mention you when hovered */
  --mention-hover: hsla(278, 80%, 52%, 0.05);

  --brand-experiment: hsl(278, 80%, 52%);
  --status-danger: var(--accent-2);
  /* Automatically resizing gif picker */
  --expression-picker-aspect-ratio: 1.125 / 1;
}

/*        ▄██████████████████████████████████████████
        █████████████████████████████████████████████
       ██████████████████████████████████████████████
      ████████████████████▀██████████████████████████
      ██████████ █████████  ▀████████████████████████
      █████████▀  ████████    ▀██████████████████████
      █████████   ▀███████   █▄▀▀▀████████████▀▀█████
      ███████████▄████████          ▄██████████▄ ████
      ████████▀   █████████      ▄██████████████  ███
      ▀███████        █████     ██████ ███████   ████
       ███████▄███▄▄   ████▄   █ ████▀ ███████  █████
       ▀████████▀ █████ ▀████ █   ▀▀▀ ▀▀██████ ████▀ 
        ████████▄  ████   ███▄█          █████████▀  
         ███████▀▄   ▀▀      ▀▄          ████████▀   
          ████████                       ███████     
           ███████                       ████ ██     
            ███▀████                     ████  █     
             ██ █████                  █████▀▄█      
                  ███               ▄██▀ ███ █       
                   ██          ▄▄▄▄▀▀██  ██  █       
                    █                 ██ █▀  █       
                    ▀                  █ ▀    █      */

/* Shiggy loader */
.container_a2f514.fixClipping_efbae7 > .content_a2f514 {
  position: relative;
}

.container_a2f514.fixClipping_efbae7 > .content_a2f514 .ready_a2f514 {
  display: none;
}

.container_a2f514.fixClipping_efbae7
  > .content_a2f514
  .ready_a2f514
  + .text_a2f514 {
  top: 50px;
}

.container_a2f514.fixClipping_efbae7 > .content_a2f514::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: calc(50% - 100px);
  width: 200px;
  height: 200px;
  background: url("https://github.com/ceeprus/discordCss/blob/main/shiggy.gif?raw=true")
    center/80% no-repeat !important;
  image-rendering: pixelated;
}

/* [[ QUOTES ]] */
[class*="markup_"] blockquote {
  padding: 4px 10px;
  background: color-mix(srgb, var(--brand-experiment) 25%, transparent);
  border-radius: 0 4px 4px 0;
}

.theme-dark[class*="markup_"] blockquote {
  color: var(--brand-experiment);
  background: var(--brand-experiment);
}

.theme-light[class*="markup_"] blockquote {
  color: var(--brand-experiment);
}

[class*="blockquoteDivider_"] {
  background: var(--brand-experiment);
}

/* replace ping/strikethrough red */
.numberBadge__2b1f5,
/* dm unread number */
.mention__3b95d

/* "NEW" serverlist indicator */ {
  background: var(--accent-2) !important;
}

/* unread dividers */
.divider__908e2 {
  --divider-color: var(--accent-2);
}

/* mute button strikethrough */
.icon__07f91 {
  color: var(--accent-2) !important;
}

path[fill="var(--status-danger)"]

/* vencord game activity strikethrough */ {
  fill: var(--accent-2) !important;
}

.theme-dark {
  --blue-345: var(--accent-1);
  /* links */
  --brand-260: var(--accent-2);
  /* "NEW" channel list indicator */
  --brand-360: var(--accent-2);
  /* bot labels, dm button, spotify progressbar */
  --brand-430: var(--accent-4);
  /* send button hover */
  --brand-500: var(--accent-3);
  /* buttons */
  --brand-560: var(--accent-4);
  /* button hovered */
  --brand-600: var(--accent-5);
  /* button pressed */
  --mention-background: var(--mention);
  --mention-foreground: var(--accent-2);
  --background-message-highlight: var(--mention);
  --background-message-highlight-hover: var(--mention-hover);
}

/* settings checkbuttons */
.container__87bf1.checked__87bf1 {
  background: var(--accent-3) !important;
}

/* replace ping yellow */
.theme-dark {
  --background-mentioned: var(--mention);
  --background-mentioned-hover: var(--mention-hover);
}

/* mention message left edge */
.mentioned__5126c:before {
  background: var(--accent-3) !important;
}

/* replace green */
.theme-dark {
  --green-360: var(--accent-2);
  /* replace other green stuff */
  --green-430: var(--accent-3);
  /* green buttons (like invite) */
  --green-500: var(--accent-4);
  /* green button hover */
  --green-530: var(--accent-5);
  /* green button click */
  --text-positive: var(--accent-1);
}

/* Add danger colours to dangerous user actions */
#user-context-close-dm,
#user-context-remove-friend,
#user-context-block {
  color: var(--accent-2);
}

#user-context-close-dm:active,
#user-context-remove-friend:active,
#user-context-block:active {
  background-color: var(--accent-5) !important;
  color: var(--white-500) !important;
}

#user-context-close-dm[class*="focused_"],
#user-context-remove-friend[class*="focused_"],
#user-context-block[class*="focused_"] {
  background-color: var(--accent-5);
  color: var(--white-500);
}

/* kick ban timeout  ^^^ */
.colorDanger_c1e9c4 {
  color: var(--accent-2);
}

div[class*="listItem"]:has(div[aria-label="Download Apps"]),
.guildSeparator__252b6 {
  display: none;
}

/* Discover */
.footer__214dc, [aria-label*="Discover"] {
  display: none;
}
[class^="userPopoutInner_"] [class^="blockquoteContainer_"] {
  max-height: 90px;
}

/* hammin */
[class^="panels_c48ade"]::before {
  content: "";
  width: 75px;
  height: 80px;
  left: 179px;
  margin-top: -66px;
  scale: 0.6;
  position: absolute;
  background-image: url("https://cdn.discordapp.com/emojis/1335640482398732290.gif?size=96&quality=lossless");
}

/* Rounded Context Menu */
.menu_c1e9c4,
.colorDefault_c1e9c4 {
  border-radius: 15px;
}

/* edited text */
.timestamp_c19a55:not(.timestampInline_c19a55) time::after {
  content: " (" attr(aria-label) ")";
}

.edited_c19a55:not(.message-translate-indicator) {
  display: none;
}

/* Fav gif icon */
.imageAccessory_af017a {
  left: unset;
  right: 6px;

}
/* Fav gif icon opacity*/
.gifFavoriteButton_b7e1cb {
background:rgba(0,0,0,0.5) ;
}

/* image maximized forward button */
.forward_fb6520 {
  display: none;
}

/* Message shift-hover */
[aria-label*="Create Thread"],
[aria-label*="Forward"],
[aria-label*="Copy Message ID"] {
  display: none;
}

/* Hide some buttons in user context menu */
#user-context-invite-to-server,
#user-context-call,
#user-context-add-friend,
#user-context-voice-move,
#user-context-invite-to-listen,
#message-forward,
#guild-context-privacy {
  display: none;
}

/* hide the ? on left top */
[aria-label*='Help'],

/* Text Bar */
[aria-label*='Open sticker picker'],
[aria-label*='Send a gift'],
[class*=channelAppLauncher_] {
  display: none;
}

/* image hover */
[aria-label*="Edit Image with Apps"] {
  display: none;
}

#channel-attach-SLASH_COMMAND,
/* Removes Chatbox from channel that don't allow you to communicate */
.channelTextAreaDisabled__74017,
/* Removes Follow banner on bottom of channels */
.wrapper__44df5 {
  display: none;
}

[id="message-tts"],
[id="message-copy-text"],
[id="message-apps"],
[id="message-thread"],
[id="message-report"] {
  display: none;
}

[href="/store"],
[aria-label*="Share Nitro with Friends"],
[href="/shop"] {
  display: none;
}

/* show the url masked links take you to in the message */
.anchor_edefb8[title$=")"]::after {
  font-size: 0.7rem;
  content: " (" attr(href) ")";
  filter: grayscale(0.4);
}

/* Make jump to present/jump to original/mark as read bars smaller and hug the right */
.barBase__0f481 {
  width: fit-content;
  margin-left: auto;
}

/* End make jump to present/jump to original/mark as read bars smaller and hug the right */
[class^="form-"]:before,
[class^="children-"]:after {
  display: none;
}

/* set channel status */
.linkBottom__2ea32 {
  display: none;
}

/* this ("x in voice" scroll indicator) */
[class^="bar__"]:has([class^="voiceChannelsIcon__"]) {
  display: none;
}

/* Hide show all voice channels button */
.voiceChannelsButton__29444 {
  display: none;
}

/* channels and roles tab */
.container__0b563,
.header__0b563,
.scrollerContainer_c6b11b .container_c2efea,
.theme-dark .scrollerContainer_c6b11b,
.theme-dark .emptyPage__5d7c9,
.theme-dark .container_c2efea {
  background-color: var(--home-background) !important;
}

/* remove the funny little gradient on ^ */
.theme-dark .innerHeader__0b563:after {
  display: none;
}

/* Compact experiment server config warning */
#experiments-tab [class^="description_"] {
  overflow: hidden;
}

#experiments-tab [class^="description_"] div:first-of-type {
  float: left;
}

#experiments-tab [class^="description_"] div + div {
  font-size: 0;
  line-height: 0;
  float: right;
}

#experiments-tab [class^="description_"] div + div:after {
  filter: grayscale();
  content: "⚠ No server configuration";
  line-height: 20px;
  font-size: 14px;
}

[aria-label="Create Invite"] svg {
  display: none;
}

/* Improved dashless channelnames with added selectors, with flag emoji support for platforms that lack them */
@font-face {
  font-family: "Twemoji Mozilla";
  src: url("https://vendicated.github.io/random-files/Twemoji.Mozilla.ttf")
    format("truetype");
  unicode-range: U+1F1E6-1F1FF;
}

@font-face {
  font-family: "dashless";
  size-adjust: 100%;
  /*adjust this to change word spacing*/
  src: url("https://vendicated.github.io/random-files/Dashless.woff2")
    format("woff2");
  unicode-range: U+002D;
}

[data-list-item-id^=channels___]:not([role=button]),
/* channel list */
[class^=titleWrapper]>h1,
/* top bar with topic */
[class^=titleWrapper]>h2,
/* top bar in thread view */
[id^=":r"]>h1,
/* topic popup */
[class^=resultChannel],
[class^=channelNameContainer_],
[class^=searchAnswer_],
/* search */
.channelWithIcon,
/* channel mentions in chat */
[class^=emptyChannelIcon_]+h3,
/* start of new channel */
[class^=emptyChannelIcon_]~[class*=description_],
[class^=browser_] [class*=channelText_],
/* channel browser*/
[class^=returnButton_] [class^=text-],
/*return button in channel browser*/
[class^=placeholder][class*=slateTextArea],
/* chat input placeholder text */
[class^=auditLog_] [class^=overflowEllipsis_] strong,
/* audit log */
.vc-permviewer-perms-title,
/* permissionsviewer */
[class^=headerChannelContainer_]>div,
/* invite to channel dialog */
[class^=uploadDropModal_] strong,
/* file drag upload */
[class^=channelNameSpan_]

/* inbox */ {
  font-family: "Twemoji Mozilla", "dashless", var(--font-primary);
}

/*discord loading page*/
.container_a2f514.fixClipping_efbae7 {
  background: 0 0;
  backdrop-filter: blur(5px);
}

[class*="expressionPickerPositionLayer_"] [class*="positionContainer_"] {
  height: calc(100vh - 128px);
}

[class*="expressionPickerPositionLayer_"] [class*="drawerSizingWrapper_"] {
  max-height: 100%;
  bottom: 0px;
  height: auto;
  aspect-ratio: var(--expression-picker-aspect-ratio);
}

/* Fixes soundmoji picker which has a hardcoded height */
[class*="expressionPickerPositionLayer_"]
  [class*="soundboardContainer_"]
  [class*="picker_"] {
  height: 100%;
}

/* Change APP tag to BOT */
span[class^="botTag"] > span[class^="botText"] {
  display: none;
}

span[class^="botTag"]::after {
  content: "BOT";
}

/* Custom Emoji Button */
.sprite__04eed.spriteColored__04eed {
  background-image: url(https://cdn.discordapp.com/emojis/1024751291504791654.gif?size=128&quality=lossless);
  background-size: 24px;
}

.sprite__04eed.spriteGreyscale__04eed {
  mask-image: url(https://cdn.discordapp.com/emojis/1024751291504791654.png?size=128&quality=lossless);
  mask-size: 24px;
}

/* context menu hover color */
.colorDefault_c1e9c4.focused_c1e9c4 {
  background-color: var(--accent-5);
}

/* no line clamp on new profiles */
[class*="descriptionClamp"] {
  line-clamp: unset;
  -webkit-line-clamp: unset;
  max-height: unset;
}

[class*="viewFullBio"] {
  display: none;
}

/* why would i add you as friend if im already your friend? */
[class*="biteSize_"] :is([aria-label="Friends"]) {
  display: none;
}

/* no more ads in voice channels */
.wrapper_e9b191 {
  display: none;
}

/* Vc right click ui */
#user-context-note,
#user-context-secure-frames-user-verification,
#user-context-verify,
#user-context-add-friend-nickname,
#user-context-apps {
  display: none;
}

/* channel list */  
/* squish channel height/spacing */
[class="link__2ea32"] {
    padding-block: 3px;
}

/* shrink all channel icons */
[class="iconContainer__2ea32"]>svg[role="img"] {
    scale: 0.8;
}

/* squeeze channel list left */
.wrapper__2ea32:not(.typeThread__2ea32) {
    margin-left: 1 !important;
}
.wrapper__29444 {
    padding-left: 8px !important;
}

/* fix threads "spine" */
.spineBorder__5b40b {
    bottom: 20px !important;
    left: 16px;
}
.containerDefault_c69b6d>svg {
    top: 5px;
    left: 16px;
}
.wrapper__2ea32.typeThread__2ea32 {
    margin-left: 28px;
}

/* make unread channel's icons brighter (because the unread indicator is now hidden)*/
.modeUnreadImportant__2ea32 .icon__2ea32,
.modeUnreadImportant__2ea32:hover .icon__2ea32,
.modeSelected__2ea32:hover .icon__2ea32 {
    color: var(--interactive-active);
}

/* dim all category labels */
[class="mainContent__29444"] {
    opacity: 70%;
}

/* hide category dropdown arrows, instead dim label when collapsed */
[class="mainContent__29444"]>[class="icon__29444"] {
    display: none;
}
[class="mainContent__29444"][aria-expanded="false"] {
    opacity: 50% !important;
}

/* action buttons */
.actionButtons_e131a9 {
    scale: .9;
    margin-bottom: -4px;
    margin-top: -4px;
}
