.visual-refresh.theme-midnight, .visual-refresh .theme-midnight,
:root {
  --theme-h: 0;
  --theme-s: 0%;
  --theme-l: 5%;
  --primary-500-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 11.9%);
  --primary-530-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 6.7%);
  --primary-560-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 2.9%);
  --primary-600-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 0%);
  --primary-630-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 2.6%);
  --primary-645-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 3.7%);
  --primary-660-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 5.9%);
  --primary-700-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 8.1%);
  --primary-730-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 9.6%);
  --primary-760-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 11.4%);
  --primary-800-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 13.3%);
  --primary-830-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 15.7%);
  --primary-860-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 18.1%);
  --primary-900-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 19.8%);

  /* color of links */
  --accent-1: hsl(278, 80%, 60%);
  /* color of unread dividers and some indicators */
  --accent-2: hsl(278, 80%, 52%);
  /* color of accented buttons */
  --accent-3: hsl(278, 80%, 44%);
  /* color of accented buttons when hovered */
  --accent-4: hsl(278, 80%, 36%);
  /* color of accented buttons when clicked */
  --accent-5: hsl(278, 80%, 28%);
  /* color of mentions and messages that mention you */
  --message-mentioned-background-default: hsla(278, 80%, 52%, 0.08);
  /* color of mentions and messages that mention you when hovered */
  --message-mentioned-background-hover: hsla(278, 80%, 52%, 0.05);
  --message-mention-background: var(--primary-900-hsl);
  --bg-brand: hsl(278, 80%, 52%);
  --text-brand: hsl(278, 80%, 52%);
  --brand-experiment: hsl(278, 80%, 52%);
  --text-danger: var(--accent-2);
  --blue-345: var(--accent-1);
  /* links */
  --brand-260: var(--accent-2);
  /* "NEW" channel list indicator */
  --brand-360: var(--accent-2);
  /* bot labels, dm button, spotify progressbar */
  --brand-430: var(--accent-4);
  /* send button hover */
  --brand-500: var(--accent-3);
  /* buttons */
  --brand-560: var(--accent-4);
  /* button hovered */
  --brand-600: var(--accent-5);
  /* button pressed */
  --mention-background: var(--background-mentioned);
  --mention-foreground: var(--accent-2);
  --background-message-highlight: var(--background-mentioned);
  --background-message-highlight-hover: var(--mention-hover);
  /* Automatically resizing gif picker */
  --expression-picker-aspect-ratio: 1.125 / 1;
  --status-danger: hsl(278, 80%, 52%);
  /* Custom Emoji button */
  --customEmojiIconURL: url(https://cdn.discordapp.com/emojis/1024751291504791654.gif?size=128&quality=lossless);
  --customEmojiIconMask: url(https://cdn.discordapp.com/emojis/1024751291504791654.gif?size=128&quality=lossless);
  
}

/*        ▄██████████████████████████████████████████
        █████████████████████████████████████████████
       ██████████████████████████████████████████████
      ████████████████████▀██████████████████████████
      ██████████ █████████  ▀████████████████████████
      █████████▀  ████████    ▀██████████████████████
      █████████   ▀███████   █▄▀▀▀████████████▀▀█████
      ███████████▄████████          ▄██████████▄ ████
      ████████▀   █████████      ▄██████████████  ███
      ▀███████        █████     ██████ ███████   ████
       ███████▄███▄▄   ████▄   █ ████▀ ███████  █████
       ▀████████▀ █████ ▀████ █   ▀▀▀ ▀▀██████ ████▀ 
        ████████▄  ████   ███▄█          █████████▀  
         ███████▀▄   ▀▀      ▀▄          ████████▀   
          ████████                       ███████     
           ███████                       ████ ██     
            ███▀████                     ████  █     
             ██ █████                  █████▀▄█      
                  ███               ▄██▀ ███ █       
                   ██          ▄▄▄▄▀▀██  ██  █       
                    █                 ██ █▀  █       
                    ▀                  █ ▀    █      */

/* Shiggy loader */
.a2f5142ba8328dfd-container.efbae7425593290b-fixClipping > .a2f5142ba8328dfd-content {
  position: relative;
}

.a2f5142ba8328dfd-container.efbae7425593290b-fixClipping > .a2f5142ba8328dfd-content .a2f5142ba8328dfd-ready {
  display: none;
}

.a2f5142ba8328dfd-container.efbae7425593290b-fixClipping
  > .a2f5142ba8328dfd-content
  .a2f5142ba8328dfd-ready
  + .a2f5142ba8328dfd-text {
  top: 50px;
}

.a2f5142ba8328dfd-container.efbae7425593290b-fixClipping > .a2f5142ba8328dfd-content::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: calc(50% - 100px);
  width: 200px;
  height: 200px;
  background: url("https://github.com/ceeprus/discordCss/blob/main/shiggy.gif?raw=true")
    center/80% no-repeat !important;
  image-rendering: pixelated;
  will-change: transform; /* Performance optimization */
}

/* [[ QUOTES ]] */
[class*="blockquoteDivider__"] {
  background: var(--brand-experiment);
}

/* mute button strikethrough */
._07f9193042954787-icon {
  color: var(--accent-2) !important;
}

/* settings checkbuttons */
._3f21e80f8677ec40-container._3f21e80f8677ec40-checked {
  background: var(--accent-3) !important;
}

/* mention message left edge */
._5126c0cd07f243a0-mentioned:before {
  background: var(--accent-3) !important;
}

/* replace green */
.theme-dark {
  --green-360: var(--accent-2);
  /* replace other green stuff */
  --green-430: var(--accent-3);
  /* green buttons (like invite) */
  --green-500: var(--accent-4);
  /* green button hover */
  --green-530: var(--accent-5);
  /* green button click */
  --text-positive: var(--accent-1);
}

/* Discover */
.footer__214dc,
[aria-label*="Discover"] {
  display: none;
}
[class^="userPopoutInner_"] [class^="blockquoteContainer_"] {
  max-height: 90px;
}
div[class*="listItem"]:has(
    [data-list-item-id="guildsnav___guild-discover-button"]
  ) {
  display: none !important;
}

/* Fav gif icon */
.af017ab847f75d02-imageAccessory {
  left: unset;
  right: 6px;
}
/* Fav gif icon opacity*/
.b7e1cb0370c2dd0e-gifFavoriteButton {
  background: rgba(0, 0, 0, 0.5);
}

/* Hide some buttons in user context menu */
#user-context-invite-to-server,
#user-context-call,
#user-context-add-friend,
#user-context-voice-move,
#user-context-invite-to-listen,
#guild-context-privacy {
  display: none;
}

div[aria-label="Help"] {
  display: none !important;
}

/* Text Bar */
[aria-label*="Open sticker picker"],
[aria-label*="Apps"],
[aria-label*="Send a gift"],
[class*="channelAppLauncher_"] {
  display: none;
}

/* image hover */
[aria-label*="Edit Image with Apps"] {
  display: none;
}

[href="/store"],
[href="/quest-home"],
[aria-label*="Share Nitro with Friends"],
[href="/shop"] {
  display: none;
}

/* show the url masked links take you to in the message */
.edefb8e22d63c542-anchor[title$=")"]::after {
  font-size: 0.7rem;
  content: " (" attr(href) ")";
  filter: grayscale(0.4);
}

/* Make jump to present/jump to original/mark as read bars smaller and hug the right */
._0f481cbbd7530492-barBase {
  width: fit-content;
  margin-left: auto;
}

/* End make jump to present/jump to original/mark as read bars smaller and hug the right */
[class^="form-"]:before,
[class^="children-"]:after {
  display: none;
}

/* set channel status */
._2ea32c412048f708-linkBottom {
  display: none;
}

/* this ("x in voice" scroll indicator) */
[class^="bar__"]:has([class^="voiceChannelsIcon__"]) {
  display: none;
}

/* Improved dashless channelnames with added selectors, with flag emoji support for platforms that lack them */
@font-face {
  font-family: "Twemoji Mozilla";
  src: url("https://vendicated.github.io/random-files/Twemoji.Mozilla.ttf")
    format("truetype");
  unicode-range: U+1F1E6-1F1FF;
  font-display: swap; /* Improve performance by not blocking render */
}

@font-face {
  font-family: "dashless";
  size-adjust: 100%;
  /*adjust this to change word spacing*/
  src: url("https://vendicated.github.io/random-files/Dashless.woff2")
    format("woff2");
  unicode-range: U+002D;
  font-display: swap; /* Improve performance by not blocking render */
}

[data-list-item-id^=channels___]:not([role=button]),
/* channel list */
[class^=titleWrapper]>h1,
/* top bar with topic */
[class^=titleWrapper]>h2,
/* top bar in thread view */
[id^=":r"]>h1,
/* topic popup */
[class^=resultChannel],
[class^=channelNameContainer_],
[class^=searchAnswer_],
/* search */
.channelWithIcon,
/* channel mentions in chat */
[class^=emptyChannelIcon_]+h3,
/* start of new channel */
[class^=emptyChannelIcon_]~[class*=description_],
[class^=browser_] [class*=channelText_],
/* channel browser*/
[class^=returnButton_] [class^=text-],
/*return button in channel browser*/
[class^=placeholder][class*=slateTextArea],
/* chat input placeholder text */
[class^=auditLog_] [class^=overflowEllipsis_] strong,
/* audit log */
.vc-permviewer-perms-title,
/* permissionsviewer */
[class^=headerChannelContainer_]>div,
/* invite to channel dialog */
[class^=uploadDropModal_] strong,
/* file drag upload */
[class^=channelNameSpan_]

/* inbox */ {
  font-family: "Twemoji Mozilla", "dashless", var(--font-primary);
}

/*discord loading page*/
.a2f5142ba8328dfd-container.efbae7425593290b-fixClipping {
  background: 0 0;
  backdrop-filter: blur(5px);
}

[class*="expressionPickerPositionLayer_"] [class*="positionContainer_"] {
  height: calc(100vh - 128px);
}

[class*="expressionPickerPositionLayer_"] [class*="drawerSizingWrapper_"] {
  max-height: 100%;
  bottom: 0px;
  height: auto;
  aspect-ratio: var(--expression-picker-aspect-ratio);
}

/* Fixes soundmoji picker which has a hardcoded height */
[class*="expressionPickerPositionLayer_"]
  [class*="soundboardContainer_"]
  [class*="picker_"] {
  height: 100%;
}

/* Custom Emoji Button */
[class*="emojiButton"] [class*="spriteColored"] {
  background: var(--customEmojiIconURL) center/contain no-repeat;
}

[class*="emojiButton"] [class*="spriteGreyscale"] {
  mask: var(--customEmojiIconMask) center/contain no-repeat;
}

/* context menu hover color */
.c1e9c47c23f12ca3-colorDefault.c1e9c47c23f12ca3-focused {
  background-color: var(--accent-5);
}

/* no line clamp on new profiles */
[class*="descriptionClamp"] {
  line-clamp: unset;
  -webkit-line-clamp: unset;
  max-height: unset;
}

[class*="viewFullBio"] {
  display: none;
}

/* why would i add you as friend if im already your friend? */
[class*="biteSize_"] :is([aria-label="Friend"]) {
  display: none;
}

/* no more ads in voice channels */
._19b5e5f5dd1df486-wrapper {
  display: none;
}

/* Vc right click ui */
#user-context-note,
#user-context-secure-frames-user-verification,
#user-context-verify,
#user-context-apps {
  display: none;
}

/* channel list */
/* squish channel height/spacing */
[class="_2ea32c412048f708-link"] {
  padding-block: 3px;
}

/* shrink all channel icons */
[class="_2ea32c412048f708-iconContainer"] > svg[role="img"] {
  scale: 0.8;
}

/* squeeze channel list left */
._2ea32c412048f708-wrapper:not(._2ea32c412048f708-typeThread) {
  margin-left: 1 !important;
}
._29444ba32c7fbeab-wrapper {
  padding-left: 8px !important;
}

/* fix threads "spine" */
._5b40bdd67543ba35-spineBorder {
  bottom: 20px !important;
  left: 16px;
}
.c69b6db0641110f6-containerDefault > svg {
  top: 5px;
  left: 16px;
}
._2ea32c412048f708-wrapper._2ea32c412048f708-typeThread {
  margin-left: 28px;
}

/* make unread channel's icons brighter (because the unread indicator is now hidden)*/
._2ea32c412048f708-modeUnreadImportant ._2ea32c412048f708-icon,
._2ea32c412048f708-modeUnreadImportant:hover ._2ea32c412048f708-icon,
._2ea32c412048f708-modeSelected:hover ._2ea32c412048f708-icon {
  color: var(--interactive-active);
}

/* dim all category labels */
[class="_29444ba32c7fbeab-mainContent"] {
  opacity: 70%;
}

/* hide category dropdown arrows, instead dim label when collapsed */
[class="_29444ba32c7fbeab-mainContent"] > [class="_29444ba32c7fbeab-icon"] {
  display: none;
}
[class="_29444ba32c7fbeab-mainContent"][aria-expanded="false"] {
  opacity: 50% !important;
}

/* dm call ui for servers */
.cb9592ad77576717-callContainer {
  .d6271c8ee3948714-tile {
    width: 200px !important;

    .d6271c8ee3948714-tileSizer {
      aspect-ratio: 1 / 1;
      width: 200px;

      ._2f4f7eb58b61c328-tile,
      .fb62e279d3f0a88a-background {
        background: none !important;
      }

      ._2f4f7eb58b61c328-border {
        width: 84px;
        height: 84px;
        align-self: center;
        justify-self: center;
        border-radius: 100%;
      }

      ._2f4f7eb58b61c328-overlayContainer {
        width: 150px;
        height: 150px;
        align-self: center;
        justify-self: center;
        gap: 0;

        ._2f4f7eb58b61c328-overlayBottom {
          height: 130px;
          flex-direction: column-reverse;
          justify-content: space-between;

          ._2f4f7eb58b61c328-overlayTitle {
            opacity: 1;
            top: 0;
            justify-content: center;
            padding: 6px;
            margin: 0px !important;
            background: linear-gradient(
              to top,
              black 0%,
              transparent 100%
            ) !important;
            border-radius: 0px;
          }

          .statusContainer__2f4f7 {
            width: 84px;
            align-items: end;
            align-content: end;
            justify-content: end;

            ._2f4f7eb58b61c328-status {
              backdrop-filter: blur(10px);
            }
          }
        }
      }
    }

    ._2f4f7eb58b61c328-tileChild:has(._2f4f7eb58b61c328-videoWrapper) {
      ._2f4f7eb58b61c328-overlayContainer {
        width: calc(100% - 16px);
        height: calc(100% - 16px);
        z-index: auto;
      }

      ._2f4f7eb58b61c328-border {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: var(--custom-base-tile-border-radius);
        pointer-events: none;
        width: 100%;
        height: 100%;
      }
    }
  }

  .d6271c8ee3948714-row:has(._4ad815b9a8eb0838-singleUserRoot) {
    width: 100% !important;

    .d6271c8ee3948714-tile,
    .d6271c8ee3948714-tileSizer {
      width: 100% !important;
      aspect-ratio: auto;

      ._4ad815b9a8eb0838-singleUserRoot {
        background: none;
        padding: 0px;

        img {
          display: none;
        }

        .buttonContainer__4ad81 {
          margin-top: 0px;
        }
      }
    }
  }

  .affa7e120767dd82-listItems {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0px;
  }
}
/* Remove Discord Checkpoint related stuff */
._5126c0cd07f243a0-messageListItem:has(._74acdf600388a483-container),
.c38106a3f0c3ca76-trailing > ._85643a485899904b-button {
  display: none;
}

/* Disable "Voice Invite Suggestions, press to dismiss" */
.f2170ce498f1df46-animation {
  display: none;
}

/* Full sized gif picker */
[class*='_59d0d7075b521375-layerContainer'] [class*='_084343c4f11eaaab-positionLayer'] {
    height: 90% !important;
    [class*='drawerSizingWrapper__'] {
        top: 3.5em !important;
        height: calc(100% - 9em)
    }
}
